<div class="col-sm-12">
  <h2 class="text-center">Add food</h2>
  <label>Select animal :</label>
  <select class="form-control" [(ngModel)]="animalSelected">
    <option *ngFor="let animal of animals" [ngValue]="animal">{{animal.name}}</option>
  </select><br>

  <label>Choose favorites foods that he likes :</label><br>
  <div class="col-sm-3 panel panel-default" *ngFor="let nutriment of nutriments">
    <div class="panel-body text-center">
      <button *ngIf="animalSelected" class="btn btn-success btn-xs pull-right" (click)="addToAnimal(nutriment)"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
      <div class="clearfix"></div>
      <i class="fa fa-{{nutriment.icon}} fa-2x"></i><br>
      <strong>{{nutriment.name}}</strong>
    </div>
  </div>
</div>
